#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2024 by Devmfc
#
#	Box: X96 Mini W2 - Amlogic S4 (S905W2) - 1GB - 100M - UNKNOWN (same as H96MaxW2?)
# 	Wifi does not work
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-s4-x96miniw2.dtb

load_config0=s4-default-${variant}.config

load_config5=s4-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
