#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2023 by Devmfc
#
#	Box: Vontar W2 - Amlogic S4 (S905W2) - 2GB - 100M - ?? - HDMI
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-s4-vontarw2.dtb

load_config0=s4-default-${variant}.config

load_config5=s4-debug-${variant}-${debug}.config

# warning, make sure this file ends with a newline!
