#  SPDX-License-Identifier:	GPL-2.0+
#  Version 2026 by Devmfc
#
#	Box: Ugoos X3 PRo - SM1 (S905X3) - 4GB - 1000M - RTL8821CS - ENCRYPTED
#
# Comments are only allowed at the beginning of a line

dtb_img=dtb-${release}/amlogic/meson-sm1-ugoosx3pro.dtb

load_config0=g12a-default-${variant}.config

# debug=y
load_config5=g12a-debug-${variant}-${debug}.config

# blink led
run_cmd=gpio clear GPIOAO_10;sleep 1;gpio set GPIOAO_10

# warning, make sure this file ends with a newline!
